@import "~vue-material/dist/theme/engine";

$primary: #9a2f74;
$accent: #8b4513;
$secondary: #c871af;

@import "global";

@include md-register-theme("default", (
        primary: $primary,
        accent: $accent
));

@import "~vue-material/dist/theme/all";